.alerts-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1c1c1e;
}

.alert-status {
  font-size: 10rem;
  font-weight: bold;
}

.theft-detected {
  color: #f44336; /* Red for theft */
}

.no-theft {
  color: #4CAF50; /* Green for no theft */
}
