.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.chart-container {
  background-color: var(--card-bg);
  padding: 1.5rem;
  border-radius: 12px;
}

.chart-container h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
}

.alert-link {
  text-decoration: none;
  color: inherit;
}

.alert-link .alert-status {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 12px;
  font-size: 4rem;
  font-weight: bold;
}

.alert-status.theft-detected {
  background-color: #2c2c2e;
  color: #f44336; /* Red for theft */
}

.alert-status.no-theft {
  background-color: #2c2c2e;
  color: #4CAF50; /* Green for no theft */
}


.alert-link.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

/* Mobile Responsiveness */
@media (max-width: 1024px) {
    .dashboard-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }
}

@media (max-width: 600px) {
    .dashboard-grid {
        grid-template-columns: 1fr; /* 1 column on mobile */
    }
    
    .chart-container {
        padding: 1rem;
    }
}